version: '3'
services:
  postgresql:
    image: repo.swarm64.com/swarm64da-cpu-psql-${S64_DA_PGVERSION}:${S64_DA_VERSION}
    container_name: postgresql-${S64_DA_PGVERSION}-swarm64da
    volumes:
      - ${DATA_S64DA}:/data
      - ./license/s64da.license:/s64da.license:ro
    env_file:
      - ./configs/s64da.env
    cap_add:
      - IPC_LOCK
    shm_size: '1024g'
    ports:
      - ${POSTGRES_HOST}:${DB_PORT_S64DA}:5432
